<div class="container">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @store.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @store.address %>
  </p>

  <p>
    <strong>State:</strong>
    <%= @store.state %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= @store.url %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @store.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @store.email %>
  </p>

  <p>
    <strong>Hours:</strong>
    <%= @store.hours %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= @store.summary %>
  </p>

  <p>
    <strong>The Experience:</strong>
    <%= @store.the_experience %>
  </p>

  <p>
    <strong>Shop Image:</strong>
    <%= image_tag(@store.shop_image.url, :class => "img-thumbnail") %>
  </p>

  <p>
    <strong>Gallery Image:</strong>
    <%= image_tag(@store.gallery_image.url, :class => "img-thumbnail") %>
  </p>

  <p>
    <strong>The Experience Image:</strong>
    <%= image_tag(@store.the_experience_image.url, :class => "img-thumbnail") %>
  </p>

  <br /><br />
  <p>
		<%= link_to stores_path, class: "" do %>
			<i class="glyphicon glyphicon-hand-left"></i> Back
		<% end %> &nbsp;|&nbsp;
    <%= link_to edit_store_path(@store) do %>
			Edit <i class="glyphicon glyphicon-edit"></i>
		<% end %>
	</p>

</div>
