<div class="container">
	
	<%= render partial: "nav" %>

	<div class="row">
		<div class="col-xs-12">
			<div class="col-xs-6">
				<%= image_tag("whitefish_placeholder.png", :alt => "Whitefish, MT", :class => "location-img") %>
			</div>
			<div class="col-xs-6 location-info">
				<h3 class="city-title"><%= @store.name %></h3>
				<p><%= @store.summary %></p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="col-xs-12">
				<div class="col-xs-12 appointment-info">
					<h3>All dresses are shown by appointment</h3>
					<h3>Book today so we can introduce ourselves</h3>
					<a href="https://www.schedulicity.com/scheduling/WBV7B4" class="btn">Book an appointment</a>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="col-xs-6 experience">
				<%= link_to(nashville_experience_path) do %>
					<%= image_tag("whitefish_placeholder.png", :alt => "Whitefish, MT", :class => "location-img") %>
				<% end %>
				<div class="label-holder">
					<h2><%= link_to "The Experience", nashville_experience_path %>&nbsp;&nbsp;</h2>
					<%= link_to(nashville_experience_path, :class => 'arrow-a') do %>
					  <span class="arrow-circle"><span class="glyphicon glyphicon-menu-right arrow"></span></span>
					<% end %>
				</div>
			</div>
			<div class="col-xs-6 dresses">
				<%= link_to(nashville_explore_path) do %>
					<%= image_tag("whitefish_placeholder.png", :alt => "Whitefish, MT", :class => "location-img") %>
				<% end %>

				<div class="label-holder">
					<h2><%= link_to "Explore Dresses", nashville_explore_path %></h2>
					<%= link_to(nashville_explore_path, :class => 'arrow-a') do %>
					  <span class="arrow-circle"><span class="glyphicon glyphicon-menu-right arrow"></span></span>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<div class="row footer">
		<div class="col-xs-12">
			<div class="col-xs-12">
				<div class="col-xs-12 footer-header">
					<%= image_tag("willow_bride_logo_sm.png", :alt => "Willow Bride", :width => "200", :height => "49", :class => "sm_logo") %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4">
					<h4>Questions?</h4>
					<a href="mailto:<%= @store.email %>" class="email">Email Us</a>
				</div>
				<div class="col-xs-4">
					<h4>Visit</h4>
					<p><%= @store.address %></p>
					<p><%= @store.name %></p>
					<p><%= @store.phone %></p>

					<h4>Store Hours</h4>
					<p class="hours"><%= @store.hours %></p>
				</div>
				<div class="col-xs-4">
					<h4>Connect</h4>
				</div>
			</div>
		</div>
	</div>

</div>

<%= render partial: "footer" %>

