<div class="container">

	<%= render partial: "nav" %>
			
	<div class="row">
		<div class="col-xs-12 experience">

			<div class="col-xs-12 col-md-6">
				<h1 class="left-title">The Experience</h1>
				<p><%= @store.the_experience.html_safe %></p>
			</div>

			<div class="col-xs-12 col-md-6">
				<%= image_tag(@store.the_experience_image, :alt => "Tupelo, MS", :class => "experience-img") %>
			</div>

		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="col-xs-12">
				<div class="col-xs-12 appointment-info">
					<h3>All dresses are shown by appointment</h3>
					<h3>Book today so we can introduce ourselves</h3>
					<a href="<%= @store.url %>" target="_blank" class="btn">Book an appointment</a>
				</div>
			</div>
		</div>
	</div>

</div>

<%= render partial: "tupelo_footer" %>

<%= render partial: "footer" %>


