<% provide(:title, 'Explore Dresses - ' + @store.name) %>

<div class="container">
	
	<%= render partial: "nav" %>

	<div class="row no-bottom">
		<h5 class="text-center text-uppercase text-muted">Designer dresses starting at $1000</h5>
	</div>


	<div class="row no-bottom">
		<div class="col-xs-12 designers">
			<!-- <a href="http://www.daalarna.hu/" target="_blank" class="designer">Daalarna</a> 
			<a href="http://www.jlmcouture.com" target="_blank" class="designer">Hayley Paige</a> 
			<a href="http://www.jlmcouture.com" target="_blank" class="designer">Blush by Hayley Paige</a> 
			<a href="http://www.jlmcouture.com" target="_blank" class="designer">Alvina Valenta</a> 
			<a href="http://www.theiacouture.com" target="_blank" class="designer">Theia</a> 
			<a href="http://www.sarehnouri.com" target="_blank" class="designer">Sareh Nouri</a> 
			<a href="http://www.jennyyoo.com " target="_blank" class="designer">Jenny Yoo</a>  -->


			<!-- New Location Gallery below -->
			<%# @designers.each do |designer| %>
				<!-- <div class="col-xs-12 col-sm-4">
					<%#= link_to image_tag(designer.main_image.url(:display), :alt => designer.name, :class => "designer-img"), tupelo_designers_name_path(@designer, :name => designer.name.gsub(' ', '_' )), :class => 'designer-main' %>
					<%#= link_to designer.name, tupelo_designers_name_path(@designer, :name => designer.name.gsub(' ', '_' )), :class => 'designer' %>
 				</div> -->
			<%# end %>
			<!-- end -->

			<%
				  @dresses_left, @dresses_right = @designers.in_groups(2, false)
			%>
				
				<div class="col-xs-12 col-sm-6 pull-left left-col">	

					<% @dresses_left.each_with_index do |dress, index| %>

						<% 
							if defined?(dress.image)
								@dress_img = dress.image.url(:display) 
							else 
								@dress_img = dress.main_image.url(:display) 
							end
						%>

						<div class="dress_contain reveal">
							<%= link_to image_tag(@dress_img, :alt => dress, :class => "dress-img"), dress.description %>
							<span class="dress_name"><%= link_to dress.name, dress.description, :class => 'designer' %></span>
						</div>

					<% end %>
				</div>

				<div class="col-xs-12 col-sm-6 pull-right right-col">	
					<% if !@dresses_right.blank? %>
						<% @dresses_right.each_with_index do |dress, index| %>

							<% 
								if defined?(dress.image)
									@dress_img = dress.image.url(:display) 
								end
								if defined?(dress.main_image)
									@dress_img = dress.main_image.url(:display)
								end
							%>

							<div class="dress_contain reveal">
								<%= link_to image_tag(@dress_img, :alt => dress, :class => "dress-img"), dress.description %>
								<span class="dress_name"><%= link_to dress.name, dress.description, :class => 'designer' %></span>
							</div>

						<% end %>
					<% end %>


		</div>
	</div>
</div>

<%= render partial: "tupelo_footer" %>

<%= render partial: "footer" %>
