<div id="footer-bottom">
	<div class="row other-stores">
		<div class="col-xs-6">
			<%= link_to "Tupelo, Mississippi", tupelo_path, :class => 'city-title' %>
			<%= link_to "Get Started", tupelo_path, :class => 'get-started' %>
		</div>
		<div class="col-xs-6">
			<%= link_to "Nashville, Tennessee", nashville_path, :class => 'city-title' %>
			<%= link_to "Get Started", nashville_path, :class => 'get-started' %>
		</div>
	</div>
	<div class="row bottom-nav">
		<div class="col-xs-4">
			<li><%= link_to "The Experience", whitefish_experience_path, :class => 'city-title' %></li>
		</div>
		<div class="col-xs-4">
	      <li><%= link_to "Explore Dresses", whitefish_explore_path, :class => 'city-title' %></li>
		</div>
		<div class="col-xs-4">
	    <li><%= link_to "Contact", whitefish_contact_path, :class => 'city-title' %></li>
		</div>
	</div>
</div>