<div class="container">
	
	<%= render partial: "nav" %>

	<div class="row no-bottom">
		<div class="col-xs-12 designer-detail">
			<div class="col-xs-12 display-container">

				<div class="col-xs-12">
					<h4 class="pull-left"><%= @designer.name %></h4>
					<h4 class="pull-right"><%= @designer.price %></h4>
				</div>
				<div class="col-xs-12">
					<p class="designer-desc"><%= @designer.description %></p>
				</div>

			<% @dresses.each do |dress| %>
				<div class="col-xs-12 col-sm-4">
					<%= image_tag(dress.main_image.url, :alt => dress, :class => "dress-img") %>
 				</div>
			<% end %>

					
		</div>
	</div>
</div>

<%= render partial: "whitefish_footer" %>

<%= render partial: "footer" %>
