<%= form_for(@dress_image) do |f| %>
  <% if @dress_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dress_image.errors.count, "error") %> prohibited this dress_image from being saved:</h2>

      <ul>
      <% @dress_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="well">
    <div class="form-group col-sm-4">
      <%= f.label :dress_id %><br>
      <% @dress_collection = Dress.all.collect {|s| [ s.name + ' - ' + s.location, s.id ] } %>
      <%= f.select :dress_id, options_for_select(@dress_collection.reverse, {:selected => @dress_image.dress_id, prompt: 'Select Dress'}) %>
    </div>

    <div class="form-group col-sm-8">
      <div class="col-sm-3">
        <%= image_tag(@dress_image.image.url, :class => "img-thumbnail") %>
      </div>

      <div class="file col-sm-9">
        <%= f.label :image %><br>
        <%= f.file_field :image, :class => 'file file-custom' %>
      </div>
    </div>

  </fieldset>

  <fieldset class="form-group text-center">
    <%= f.submit :class => 'btn btn-default' %>
  </fieldset>
<% end %>
