<%= form_for(@dress_image) do |f| %>
  <% if @dress_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dress_image.errors.count, "error") %> prohibited this dress_image from being saved:</h2>

      <ul>
      <% @dress_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dress_id %><br>
    <%= f.select :dress_id, options_for_select(Dress.all.collect {|s| [ s.name, s.id ] }, {:selected => @dress_image.dress_id, prompt: 'Select Dress'}) %>
  </div>

  <%= image_tag(@dress_image.image.url, :class => "img-thumbnail") %>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
