<div class="container">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Dress:</strong>
	  <%= Dress.find_by_id(@dress_image.dress_id).name %>
	</p>

	<p>
	  <strong>Image:</strong>
	  <%= image_tag(@dress_image.image.url(:thumb), :class => "img-thumbnail") %>
	</p>

	<br /><br />
  <p>
		<%= link_to dress_images_path, class: "" do %>
			<i class="glyphicon glyphicon-hand-left"></i> Back
		<% end %> &nbsp;|&nbsp;
    <%= link_to edit_dress_image_path(@dress_image), class: "" do %>
			Edit <i class="glyphicon glyphicon-edit"></i>
		<% end %>
	</p>
</div>
