<div class="container">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Designer:</strong>
    <%= Designer.find_by_id(@dress.designer_id).name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @dress.location %>
  </p>

  <p>
    <strong>Main image:</strong>
    <%= image_tag(@dress.main_image.url(:thumb), :class => "img-thumbnail") %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @dress.price %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= @dress.style %>
  </p>

  <p>
    <strong>Garment type:</strong>
    <%= @dress.garment_type %>
  </p>

  <p>
    <strong>Tag:</strong>
    <%= @dress.tag %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @dress.name %>
  </p>

  <p>
    <strong>Collection:</strong>
    <%= @dress.collection %>
  </p>

  <br /><br />
  <p>
		<%= link_to dresses_path, class: "" do %>
			<i class="glyphicon glyphicon-hand-left"></i> Back
		<% end %> &nbsp;|&nbsp;
    <%= link_to edit_dress_path(@dress) do %>
			Edit <i class="glyphicon glyphicon-edit"></i>
		<% end %>
	</p>
</div>
